html{
    background-color: rgb(225,212,197);
}

@font-face {
  font-family: myFont;
  src: url(Msgothic.ttc);
}

.header {
  padding: 30px;
  text-align: center;
  background: #613A2B;
  color: #E1D4C5;
  font-size: 28px;
  font-family: myFont
}

#rectangle {
  height: 35px;
  background: #9B6A5B;
  margin-bottom: 20px
}

a:link {
  color: #E1D4C5;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #af9c87;
  background-color: transparent;
  text-decoration: underline;
}

a {
  color: #E1D4C5;
  background-color: transparent;
  text-decoration: none;
}

h2 {
  display: block;
  font-size: 4em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0.1em;
  margin-right: 0;
  font-weight: bold;
}

.featuredarticle {
  width: 50%;
  color: #E1D4C5;
  background-color: #4B4D26;
  border-radius: 25px;
  padding: 10px
}

.featuredsummary {
  width: 50%;
  color: #4B4D26;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 1.5em
}

.button:link {
  background-color: #4B4D26;
  border: none;
  color: #E1D4C5;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width:25%;
  height:25px;
  border-radius: 25px;
  padding: 10px;
  font-size: 1.5em;
}

.button:hover {
  background-color: #9B6A5B;
  color: #613A2B;
  text-decoration:none
}

#arrow {
  z-index: 0;
  position: relative;
  bottom: 41px;
  left: 275px;
}

.homepageimage{
  color:black;
  position:relative;
  bottom:430px;
}

.articlepreview{
  width: 24%;
  color: #E1D4C5;
  background-color: #4B4D26;
  border-radius: 25px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 15px;
  display: inline-block;
  margin-left: 10px;
  height: 325px;
  vertical-align:top
}

#previewpfp{
  z-index: 0;
  position: relative
}

#previewusername{
  font-size: 25px;
  position: relative;
  bottom: 44px;
  left: 60px;
  margin-bottom: -23px
}