html{
    background-color: rgb(225,212,197);
}

@font-face {
  font-family: myFont;
  src: url(Msgothic.ttc);
}

.header {
  padding: 30px;
  text-align: center;
  background: #613A2B;
  color: #E1D4C5;
  font-size: 28px;
  font-family: myFont
}

#rectangle {
  height: 35px;
  background: #9B6A5B;
  margin-bottom: 20px
}

.content {
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction:column
}

.flex-1 {
  flex: 1;
}

.header a:link {
  color: #E1D4C5;
  background-color: transparent;
  text-decoration: none;
}

.header a:hover {
  color: #af9c87;
  background-color: transparent;
  text-decoration: underline;
}

.header a {
  color: #E1D4C5;
  background-color: transparent;
  text-decoration: none;
}

h2 {
  display: block;
  font-size: 4em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  margin-left: 0.1em;
  margin-right: 0;
  font-weight: bold;
}

.featuredarticle {
  color: #E1D4C5;
  background-color: #4B4D26;
  border-radius: 25px;
  padding: 10px
}

.featuredsummary {
  color: #4B4D26;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 1.5em
}

.button {
  background-color: #4B4D26;
  border: none;
  color: #E1D4C5;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  height:25px;
  border-radius: 25px;
  padding: 10px;
  font-size: 1.5rem;
  margin: 0 6px;
}

.button:hover {
  background-color: #9B6A5B;
  color: #613A2B;
  text-decoration:none
}

.button-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -13px;
  margin-right: -12px;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

#arrow {
  z-index: 0;
}

.homepageimage{
  color:black;
}

.articlepreview{
  width: 24%;
  color: #E1D4C5;
  background-color: #4B4D26;
  border-radius: 25px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  height: 325px;
  vertical-align:top
}

#previewpfp{
  z-index: 0;
  position: relative
}

#previewusername{
  font-size: 25px;
  position: relative;
  bottom: 44px;
  left: 60px;
  margin-bottom: -23px
}

.previewtext{
  margin-bottom: 15px
}